{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<h3>Mon emploi du temps  : </h3>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Lundi</th>
      <th scope="col">Mardi</th>
      <th scope="col">Mercredi</th>
       <th scope="col">Jeudi</th>
      <th scope="col">Vendredi</th>
 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 eme </td>
      <td>6 eme </td>
      <td>4 eme </td>
      <td>5 eme </td>
      <td>6 eme</td>
    </tr>
  
    

  </tbody>
</table>


<h3>Mes notes : </h3>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Matieres</th>
      <th scope="col">Evauation 1.1</th>
      <th scope="col">Evalution 1.2</th>
      <th scope="col">Exament 1 </th>

       <th scope="col">Evauation 2.1</th>
      <th scope="col">Evalution 2.2</th>
      <th scope="col">Exament 2 </th>

     <th scope="col">Evauation 3.1</th>
      <th scope="col">Evalution 3.2</th>
      <th scope="col">Exament 3 </th>
    
 
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mathématiques</th>
      <td> 2/20 </td>
      <td>3/20 </td>
      <td>5/20 </td>
      <td>7/20 </td>
      <td>10/20</td>
      <td>3/20 </td>
      <td>5/20 </td>
      <td>7/20 </td>
      <td>10/20</td>
    </tr>
    <tr>
      <th scope="row">Physiques</th>
      <td> 2/20 </td>
      <td>3/20 </td>
      <td>5/20 </td>
      <td>7/20 </td>
      <td>10/20</td>
      <td>3/20 </td>
      <td>5/20 </td>
      <td>7/20 </td>
      <td>10/20</td>
    </tr>
       <tr>
      <th scope="row">Sciences Naturelles</th>
      <td> 2/20 </td>
      <td>3/20 </td>
      <td>5/20 </td>
      <td>7/20 </td>
      <td>10/20</td>
      <td>3/20 </td>
      <td>5/20 </td>
      <td>7/20 </td>
      <td>10/20</td>
    </tr>
    <tr>
      <th scope="row">Phylosophie</th>
      <td> 2/20 </td>
      <td>3/20 </td>
      <td>5/20 </td>
      <td>7/20 </td>
      <td>10/20</td>
      <td>3/20 </td>
      <td>5/20 </td>
      <td>7/20 </td>
      <td>10/20</td>
    </tr>
  </tbody>
</table>
{% endblock %}
