{% extends "base.html.twig" %}


{% block body %}


<h1>Bienvenue dans ce blog </h1>



<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quibusdam consequuntur provident consectetur! Tenetur nisi repellendus dolore non maxime ipsum autem est recusandae, id omnis sapiente amet illum suscipit, alias itaque. Possimus eos ipsa nisi molestiae dolorem dignissimos, ipsum esse?</p>
<p>Eum expedita asperiores officia totam, itaque iure quaerat iste hic libero dignissimos dicta voluptatibus dolorum odit quasi eaque nulla, corrupti nisi inventore. Doloribus voluptas officiis reiciendis voluptatum hic! Soluta dolor consectetur debitis error, quos illum quo nemo hic nihil eligendi?</p>

{% endblock %}

