{% extends "base.html.twig"%}




{% block body %}
  
           <article>
            <h2>Titre de l'article </h2>
            <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique </div>
            <div class="content">
                <img src="https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg" alt="">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, totam itaque assumenda porro, aspernatur earum culpa iusto accusantium reiciendis, aliquid quod veniam exercitationem. Cumque autem dignissimos molestias corporis exercitationem nihil!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores similique reprehenderit ipsum laudantium. In eum vel nam, nulla nobis quia hic quibusdam a voluptatem ullam? Expedita ducimus ad nulla modi?</p>
               

                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque vel ducimus, nobis placeat atque suscipit laudantium tempora quam, voluptate aliquam tenetur, ipsam explicabo debitis harum? Et qui, porro asperiores, eos natus vitae iure sed cumque in voluptatibus deserunt impedit quos voluptatem quas corporis, laudantium autem nemo temporibus est dolor vel.</p>
                <p>Perspiciatis unde ex et nihil reprehenderit corrupti voluptates laboriosam at, sint provident? Earum optio tenetur odit distinctio sapiente eaque, iure ducimus non asperiores soluta provident ipsa obcaecati quisquam, sed ipsum! Facilis architecto alias facere numquam neque sit esse! Laborum nisi neque qui, beatae accusamus officiis repellat soluta animi aspernatur hic.</p>

            </div>
        </article>

{% endblock %}