




{% block body %}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Resultat</h5>
    <ul>
        <li>Nom : {{nom}}</li>
        <li>Prenom : {{prenom}}</li>
        <li>Ecole : {{ecole}}</li>
        <li>Entreprise : {{entreprise}}</li>
    </ul>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
   


{% endblock %}

{% block javascripts %}



{% endblock %}