



{% block body %}

        
        <div id ="bd" class="container">

                <li id ="nom"></li>
                <li id = "prenom"></li>
                <li id = "entreprise"></li>
                <li id = "ecole"></li>
        
        
        </div>


{% endblock %}




{% block javascripts %}

    <script>
        
       
        
    </script>

{% endblock %}